.primerSelect {

  .primerSelectAction {
    border-top: 1px solid #202020;
    border-bottom: 1px solid transparent;
    padding: 15px 20px;
    cursor: pointer;
    transition: ease all 0.21s;
    display: flex;
    align-items: center;
    user-select: none;

    &:hover {
      background: #242424;

      .anticon {
        color: #e3e3e3
      }
    }

    &.show {
      background: #242424;
      border-bottom: 1px solid #2a2a2a;

      .anticon.anticon-down {
        transform: rotate(180deg);
      }
    }

    .anticon {
      transition: all 0.21s ease;
      color: #777;
    }

    .primerItem {
      padding: 0;
      margin: 0;
      display: flex;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }
  }

  .primerSelectList {
    max-height: 0;
    background: #242424;
    transition: all 0.21s ease-in-out;
    overflow: hidden;

    &.show {
      height: auto;
      max-height: 400px;
    }

    .primerSelectListFooter {
      display: flex;
      align-items: center;
      padding: 15px 20px;
      border-top: 1px solid #2a2a2a;
      text-transform: uppercase;
      font-size: 15px;

      &:only-child {
        border-color: transparent;
      }
    }
  }
}
