.primerItem {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 7px;
  transition: all 0.21s ease;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  position: relative;
  animation: fadein 0.7s;

  &.collection {
    .title {
      text-transform: capitalize;
    }

    .imgWrapper {
      background: #3a3a3a;
      border-radius: 5px;
      text-align: center;
      svg {
        font-size: 20px;
        color: #aaa;
        margin-top: 6px;
      }
    }
  }

  &.selectable {
    &:hover, &:active {
      background: #313131;

      .addBtn {
        opacity: 1;
        visibility: visible;
      }

      .infoIcon {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &.selected {
    .addBtn {
      opacity: 1;
      visibility: visible;

      .ant-btn {
        box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.33), inset -3px -3px 11px -8px rgba(255, 255, 255, 0.33), inset 5px 5px 10px 0 rgba(0, 0, 0, 0.66);
        width: 26px;
        height: 26px;
        padding: 0;
        border: none;
        border-radius: 4px;
      }
    }

    .infoIcon {
      opacity: 1;
      visibility: visible;

      &:last-child {
        margin-right: 40px;
      }
    }

    &:hover, &:active {
      .infoIcon {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .imgWrapper {
    width: 33px;
    height: 33px;
    margin-right: 10px;
    line-height: 1em;
    overflow: hidden;
    flex-shrink: 0;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  h5 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 1px;
    flex: 1;
  }

  .anticon {
    color: #aaa;
    font-size: 16px;

    &.infoIcon {
      margin-left: 10px;
      opacity: 1;
      visibility: visible;
      transition: all 0.21s ease;
    }
  }

  .addBtn {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 10px;
    text-align: right;
    transition: all 0.21s ease;

    .ant-btn {
      width: 52px;
      height: 28px;
      padding: 3px 10px;
      font-size: 13px;
      vertical-align: middle;
      transition: all 0.21s ease;
      /* For Neumorphism Effect */
      box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.66), -1px 0 7px -2px rgba(255,255,255,0.33);
      border: none;
      /* For Neumorphism Effect */

      .anticon {
        font-size: 12px;

        &.anticon-check {
          color: #c7ac75;
        }
      }
    }
  }
}
