.DraftEditor-root {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
}
.public-DraftEditorPlaceholder-root {
  color: #777;
}

.DraftEditor-editorContainer {
  border: 0;
  color: #ccc;
}

.knot {
  .knotCardFooter {
    position: absolute;
    right: 0;
    margin-top: 21px;
    transition: all 0.21s ease-in-out;
  }
}
