.knot {
  animation: fadein 0.7s;

  &.ant-timeline-item {
    padding-bottom: 25px;

    &:only-child {
      .ant-timeline-item-head:not(.ant-timeline-item-head-custom) {
        display: none;
      }

      .ant-timeline-item-content {
        margin-left: 0;
      }
    }
  }

  .knotCard {
    font-family: 'Montserrat', sans-serif;
    background: #242424;
    padding: 15px;
    border-radius: 4px;
    margin: 5px 0;
    position: relative;
    transition: all 0.21s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;

    &.private {
      filter: brightness(66%);
    }

    p {
      color: #aaa;
      font-size: 16px;
      margin-bottom: 0;
    }

    li {
      margin-left: 20px;
    }

    strong {
      font-weight: bold;
    }

    h1 {
      margin-left: 5px;
    }

  }

  .knotMeta {
    margin: 10px 5px 0;
    color: #777;
    font-size: 11px;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;

    .ant-btn {
      font-size: 11px;
      width: 20px;
      height: 20px;
      box-shadow: none;
    }

    span.delete {
      transition: 0.21s ease all;
      opacity: 0;
      cursor: pointer;
      margin-left: 10px;

      &.show {
        opacity: 1;
      }

      &:hover {
        color: #c7ac75;
      }
    }

    .edited {
      margin-left: 5px;
      font-size: 7px;
      color: #777;
    }

    .reply {
      padding: 0px 10px;
    }

    .responseIcon {
      padding-left: 10px;
      padding-right: 5px;
    }

    &.edited {
      margin-top: 30px;
    }
  }

  .ant-popover {
    p {
      font-size: 14px;
    }

    &.deleteConfirm {
      .ant-popover-inner-content {
        padding: 10px;
      }
      .ant-popover-message-title {
        text-align: center;
        padding: 0;
        text-transform: uppercase;
        font-size: 12px;
      }
      .ant-popover-buttons {

        .ant-btn {
          font-size: 10px;

          &:first-child {
            margin-left: 0;
            border: none;
            background: transparent;
            color: #aaa;
            padding: 4px;
            box-shadow: none;

            &:after {
              animation: unset;
            }

            &:active, &:focus {
              box-shadow: none;
            }
          }
        }
      }
    }

    .ant-popover-inner {
      -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 16px 70px;
      box-shadow: rgba(0, 0, 0, 0.5) 0 16px 70px;
      border-radius: 8px;
    }
  }
}
