.knot {
  animation: fadein 0.7s;

  &.ant-timeline-item {
    padding-bottom: 25px;

    &:only-child {
      .ant-timeline-item-head:not(.ant-timeline-item-head-custom) {
        display: none;
      }

      .ant-timeline-item-content {
        margin-left: 0;
      }
    }
  }

  .knotCard {
    font-family: 'Montserrat', sans-serif;
    background: #242424;
    padding: 15px;
    border-radius: 4px;
    margin: 5px 0;
    position: relative;
    transition: all 0.21s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;

    &.private {
      filter: brightness(66%);
    }

    p {
      color: #aaa;
      font-size: 16px;
      margin-bottom: 0;
    }
  }

  .knotMeta {
    margin: 10px 5px 0;
    color: #777;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .ant-popover {
    p {
      font-size: 14px;
    }

    &.deleteConfirm {
      .ant-popover-inner-content {
        padding: 10px;
      }
      .ant-popover-message-title {
        text-align: center;
        padding: 0;
        text-transform: uppercase;
        font-size: 12px;
      }
      .ant-popover-buttons {
        .ant-btn:first-child {
          margin-left: 0;
          border: none;
          background: transparent;
          color: #aaa;
          padding: 4px;
          box-shadow: none;
          &:active, &:focus {
            box-shadow: none;
          }
        }
      }
    }

    .ant-popover-inner {
      -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 16px 70px;
      box-shadow: rgba(0, 0, 0, 0.5) 0 16px 70px;
      border-radius: 8px;
    }
  }

  .ant-popover-title {
    border-bottom: none;
  }

  .ant-drawer-header {
    .ant-drawer-title {
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  .ant-drawer-right, .ant-drawer-right .ant-drawer-content-wrapper {
    max-width: 100vw;
  }

  .noteCardFooter {
    margin: 10px 0 0 10px;

    span {
      display: inline-block;
      padding-right: 10px;
      cursor: auto;
      user-select: none;
      color: #aaa;
      font-size: 12px;
      transition: all 0.3s ease;
      > span {
        padding-right: 0;
      }

      &.responseIcon {
        svg {
          margin-right: 3px;
          vertical-align: middle;
          margin-top: -2px;
        }
      }

      &.knotsCount {
        margin-top: 2px;
        cursor: pointer;
        float: right;

        svg {
          margin-right: 3px;
          vertical-align: middle;
          margin-top: -2px;
        }

        span {
          cursor: pointer;

          &:last-child {
            margin-left: 3px;
          }
        }
      }

      &.edited {
        padding-left: 5px;
        font-size: 8px;
        color: #aaa;
      }

      &.hasAction {
        cursor: pointer;
        &:hover {
          color: #c7ac75;
        }

        &.hide {
          opacity: 0;
          visibility: hidden;
        }

        &.show {
          opacity: 1;
          visibility: visible;
        }

        &.privacy {
          margin-top: 2px;
          margin-right: -1px;
        }
      }

      &.likeBtn {
        cursor: pointer;

        &:hover {
          color: inherit;
        }

        &.liked {
          .anticon {
            color: #c7ac75;
          }
        }

        .anticon {
          cursor: pointer;
          font-size: 12px;
          vertical-align: middle;
          color: #aaa;
          margin-top: -2px;

          &:hover {
            color: #c7ac75;
          }
        }

        .likeCount {
          color: #aaa;
          font-size: 12px;
          padding-left: 4px;
          cursor: auto;
          padding-right: 0;
        }
      }

      input.ant-input.ant-calendar-picker-input,
      .ant-calendar-picker-icon {
        display: none;
      }

      &.ant-calendar-picker {
        padding: 0;
        width: auto !important;
        min-width: 0 !important;
        height: 10px;
      }
    }
  }
}
