.knot {
  animation: fadein 0.7s;

  &.ant-timeline-item {
    padding-bottom: 25px;

    &:only-child {
      .ant-timeline-item-head:not(.ant-timeline-item-head-custom) {
        display: none;
      }

      .ant-timeline-item-content {
        margin-left: 0;
      }
    }
  }

  .knotCard {
    font-family: 'Montserrat', sans-serif;
    background: #242424;
    padding: 15px;
    border-radius: 4px;
    margin: 5px 0;
    position: relative;
    transition: all 0.21s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;

    &.private {
      filter: brightness(66%);
    }

    p {
      color: #aaa;
      font-size: 16px;
      margin-bottom: 0;
    }
  }

  .knotMeta {
    margin: 10px 5px 0;
    color: #aaa;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
