.knots {
  max-height: calc(100vh - 300px);
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: -17px;
  padding: 15px 20px 0;

  .knotLoading {
    padding-bottom: 55px;
    animation: fadein 0.7s;
  }
}
