$montserrat: 'Montserrat', sans-serif;

.contentPreview {
  text-decoration: none;
  display: block;
  font-family: $montserrat;
  padding: 10px;
  border-radius: 4px;
  color: #aaa;
  background: #242424;
  transition: all 0.21s ease;
  display: flex;
  align-items: center;

  &:hover, &:active, &:focus {
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.21) 0px 2px 4px;

    h5 { color: #c7ac75; }
  }

  img {
    width: 44px;
    height: 44px;
    margin-right: 15px;
    border-radius: 7px;
    border: 1px solid #242424;
    object-fit: contain;
    flex-shrink: 0;
  }

  .contentDetails {
    overflow: hidden;
  }

  h5 {
    white-space: nowrap;
    min-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.5em;
    font-family: $montserrat;
    font-weight: 400;
    font-size: 16px;
    transition: 0.21s ease all;
    color: #e3e3e3;
  }

  &.loading {
    .imgWrapper, h5, .details {
      background: -webkit-gradient(linear, left top, right top, color-stop(25%, #313131), color-stop(37%, #3a3a3a), color-stop(63%, #313131));
      background: linear-gradient(90deg, #313131 25%, #3a3a3a 37%, #313131 63%);
      background-size: 400% 100%;
      -webkit-animation: skeleton-loading 1.1s ease infinite;
      animation: skeleton-loading 1.1s ease infinite;
      flex-shrink: 0;
      width: 46px;
      height: 46px;
      border-radius: 7px;
      margin-right: 15px;
    }

    .contentDetails {
      overflow: hidden;
    }

    h5 {
      height: 15px;
      border-radius: 3px;
      margin-bottom: 10px;
      width: 271px;
    }

    .details {
      border-radius: 3px;
      height: 12px;
      width: 144px;
    }
  }

}

.contentPreviewWrapper {
  padding: 20px;
}

// .loaded .contentPreviewWrapper {
//   border-bottom: 1px solid #2a2a2a;
//   box-shadow: rgba(255, 255, 255, 0.21) 0px 8px 4px -10px;
// }


@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
