// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Montserrat:300,400);
$montserrat: 'Montserrat', sans-serif;

// reset and normalize
@import '../../../../../node_modules/normalize.css/normalize.css';

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  outline: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

// ANT DESIGN OVERRIDES
body {
  background: none;
  line-height: 1em;
  overflow: hidden;
}

.ant-dropdown-menu {
  background: #242424;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 24px;
}

.ant-dropdown-menu-item {
  font-size: 16px;
  padding: 10px 14px;
  text-transform: uppercase;
  color: #aaa;

  > .anticon:first-child {
    min-width: 16px;
    margin-right: 11px;
    font-size: 16px;
  }
}

// ANALOGUE SPECIFIC
html {
  --scrollbarBG: #1a1a1a;
  --thumbBG: #313131;
  --scrollbarBGLight: #242424;
  --thumbBGLight: #3a3a3a;
}

body,
.knots {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);

  &::-webkit-scrollbar {
    width: 11px;
  }

  &::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
}

.analogue-modal {
  width: 400px;
  background: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 24px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.04);
  border-image: initial;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  z-index: 2147483647;
  // max-height: 170px;
  // transition: max-height 0.7s ease-in-out;
  overflow: hidden;

  // &.loaded {
  //   max-height: calc(100vh - 64px);
  // }

  .logo {
    position: absolute;
    width: 31px;
    height: 31px;
    object-fit: contain;
    left: 27px;
    top: 21px;
  }

  .closeBtn.anticon.anticon-close {
    position: absolute;
    top: 25px;
    right: 20px;
    color: #aaa;
    font-size: 21px;
    transition: 0.21s ease all;
    cursor: pointer;

    &:hover {
      color: #e3e3e3;
    }
  }

  .dropdownStatus {
    user-select: none;
    text-align: left;
    font-family: $montserrat;
    font-weight: 400;
    color: #e3e3e3;
    line-height: 1em;
    padding: 0;
    margin: 8px auto 10px 60px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #aaa;
    display: inline-block;
    cursor: pointer;

    .anticon {
      font-size: 15px;
      margin-left: 5px;
      color: #777;
    }
  }

  .dropdownStatusOverlay {
    min-width: 0 !important;
    width: 181px;
    opacity: 1 !important;

    &.slide-up-enter.slide-up-enter-active {
      animation: none;
      opacity: 1 !important;
    }
  }
}
