// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Montserrat:400);
$montserrat: 'Montserrat', sans-serif;

// reset and normalize
@import '../../../../../node_modules/normalize.css/normalize.css';

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

* {
  border: 0;
  box-sizing: inherit;
  font-weight: inherit;
  outline: 0;
  padding: 0;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

// ANT DESIGN OVERRIDES
body {
  background: none;
  line-height: 1em;
}

.ant-dropdown-menu {
  background: #2a2a2a;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 24px;
}

.ant-dropdown-menu-item {
  font-size: 16px;
  padding: 10px 14px;

  > .anticon:first-child {
    min-width: 16px;
    margin-right: 11px;
    font-size: 16px;
  }
}

// ANALOGUE SPECIFIC
.analogue-mask {
  width: 100vw;
  height: 100vh;
  position: relative;

  .analogue-fixed-sidebar {
    position: fixed;
    right: 32px;

    .analogue-modal {
      width: 360px;
      background: #242424;
      box-shadow: rgba(0, 0, 0, 0.2) 0 4px 24px;
      margin: 32px auto;
      border-width: 1px;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.04);
      border-image: initial;
      border-radius: 8px;
      padding: 20px;
      position: relative;
      z-index: 2147483647;

      .closeBtn.anticon.anticon-close {
        position: absolute;
        top: 22px;
        right: 21px;
        color: #aaa;
        font-size: 21px;
        transition: 0.21s ease all;
        cursor: pointer;

        &:hover {
          color: #e3e3e3;
        }
      }

      .dropdownStatus {
        user-select: none;
        text-align: left;
        font-family: $montserrat;
        font-weight: 400;
        color: #e3e3e3;
        line-height: 1em;
        padding: 0;
        margin: 0;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #aaa;
        display: inline-block;
        cursor: pointer;

        .anticon {

          &:first-child {
            font-size: 26px;
            width: 46px;
            margin-right: 18px;
            vertical-align: -0.3em;
          }

          &:nth-child(2) {
            font-size: 15px;
            margin-left: 5px;
            color: #777;
          }

          &.anticon-check-circle {
            color: #c7ac75;
          }
        }
      }

      .dropdownStatusOverlay {
        min-width: 0 !important;
        width: 171px;
      }

      .addNote {
        padding: 15px 15px 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 15px;
        font-weight: 400;
        font-family: $montserrat;
        color: #aaa;
        cursor: pointer;
        border-top: 1px solid #313131;
      }
    }
  }
}
