// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Montserrat:300,400);
$montserrat: 'Montserrat', sans-serif;

// reset and normalize
@import '../../../../../node_modules/normalize.css/normalize.css';

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  outline: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

// ANT DESIGN OVERRIDES
body {
  background: none;
  line-height: 1em;
  overflow: hidden;
}

.ant-dropdown-menu {
  background: #242424;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 24px;
}

.ant-dropdown-menu-item {
  font-size: 16px;
  padding: 10px 14px;
  text-transform: uppercase;
  color: #aaa;

  > .anticon:first-child {
    min-width: 16px;
    margin-right: 11px;
    font-size: 16px;
  }
}

.ant-btn {
  box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.66), -1px 0 7px -2px rgba(255,255,255,0.33);
  border: none;
  transition: all 0.21s ease;
  text-transform: uppercase;
  color: #aaa;

  &:not([disabled]):active {
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.33), inset -3px -3px 11px -8px rgba(255, 255, 255, 0.33), inset 5px 5px 10px 0 rgba(0, 0, 0, 0.66);
  }
}

// ANALOGUE SPECIFIC
html {
  --scrollbarBG: #1a1a1a;
  --thumbBG: #313131;
  --scrollbarBGLight: #242424;
  --thumbBGLight: #3a3a3a;
}

body,
.knots {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);

  &::-webkit-scrollbar {
    width: 11px;
  }

  &::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
}

.primerSelectListScroll {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBGLight) var(--scrollbarBGLight);

  &::-webkit-scrollbar {
    width: 11px;
  }

  &::-webkit-scrollbar-track {
    background: var(--scrollbarBGLight);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--thumbBGLight) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBGLight);
  }
}

.analogueModal {
  width: 400px;
  background: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.21) 0 2px 12px 0;
  border-image: initial;
  border-radius: 8px;
  position: relative;
  z-index: 2147483647;
  overflow: visible;

  .analogueModalHeader {
    display: flex;
    align-items: center;
    padding: 20px 20px 10px;

    &.login {
      padding: 20px;
      border-bottom: 1px solid #2a2a2a;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: rgb(42, 42, 42);
      justify-content: center;

      .closeBtn.anticon.anticon-close {
        position: absolute;
        right: 20px;
        line-height: 1em;
      }
    }

    .logo {
      height: 31px;
      object-fit: contain;

      .icon {
        width: 31px;
        margin: 10px 15px;
      }
    }

    .closeBtn.anticon.anticon-close {
      color: #aaa;
      font-size: 21px;
      transition: 0.21s ease all;
      cursor: pointer;

      &:hover {
        color: #e3e3e3;
      }
    }

    .dropdownStatus {
      user-select: none;
      text-align: left;
      font-family: $montserrat;
      font-weight: 400;
      color: #e3e3e3;
      line-height: 1em;
      font-size: 16px;
      margin: 0 10px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #aaa;
      display: flex;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      cursor: pointer;

      .anticon {
        font-size: 15px;
        margin-left: 5px;
        color: #777;
      }
    }

    .dropdownStatusOverlay {
      min-width: 0 !important;
      width: 181px;
      opacity: 1 !important;

      &.slide-up-enter.slide-up-enter-active {
        animation: none;
        opacity: 1 !important;
      }
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
