label.keyboardShorcut {
  font-size: 12px;
  color: #888;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  animation: fadein 0.21s;
  user-select: none;
  opacity: 1;
  visibility: visible;
  transition: 0.21s ease;
  cursor: pointer;

  &.hide {
    opacity: 0;
    visibility: hidden;
    cursor: default;
  }

  &.clickable {
    cursor: pointer;

    > * { transition: all 0.21s ease; }

    &:hover > * {
      filter: brightness(1.21);
    }
  }

  code {
    background: #2a2a2a;
    color: #e3e3e3;
    padding: 4px 5px 0;
    height: 18px;
    margin-right: 5px;
    text-align: center;
    line-height: 1em;
    vertical-align: middle;
    border-radius: 4px;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;

    &.cmd {
      font-size: 14px;
    }
  }
}
