.contentMedium {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #aaa;

  svg {
    vertical-align: -0.125em;

    &.tvIcon {
      vertical-align: -0.1em;
    }
  }

  .anticon {
    svg {
      vertical-align: -0.02em;
    }
  }

  a {
    font-weight: 400;
    text-decoration: none;
    color: #aaa;

    &:hover, &:active, &:visited, &:focus {
      font-weight: 400;
      text-decoration: none;
    }
  }
}
