.contentMedium {
  font-size: 12px;
  line-height: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
  color: #aaa;
  display: flex;
  align-items: center;

  .text {
    margin-left: 3px;
    white-space: nowrap;
    min-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
