.knots {
  max-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.21s ease;
  padding: 0 20px;

  &.show {
    max-height: calc(100vh - 275px);
    padding: 15px 20px 0;
  }

  .knotLoading {
    padding-bottom: 55px;
    animation: fadein 0.7s;
  }
}

.loadingKnots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -25px;
}

body > div > div > div > div.knots.show > li.ant-timeline-item.knotLoading.ant-timeline-item-last > div.ant-timeline-item-head.ant-timeline-item-head-custom.ant-timeline-item-head-blue {
  margin-left: 173px;
}
